.main {
  width: 1750px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

header ul {
  list-style: none;
  margin-top: 50px;
}

header ul li {
  display: inline-block;
  font-weight: bolder;
  font-family: Comic;
  margin-right: 50px;
  cursor: pointer;
}

header ul li.first {
  float: left;
  margin-right: 300px;
}

header ul li.search {
  float: right;
  margin-right: 50px;
}

header ul li.search span {
  margin-left: 80px;
}

header ul li.search img{
  position: relative;
  top: 4px;
}

header ul li.search input {
  height: 20px;
  position: relative;
  top: -2px;
  border: 1px solid black;
  border-radius: 5px;
}

header ul.dots {
  margin-left: 363px;
  margin-top: -18px;
}


ul.dots li.active {
  visibility: visible;
}

header ul.dots li {
  width: 5px;
  height: 5px;
  display: inline-block;
  margin-right: 82px;
  background-color: black;
  border-radius: 100%;
  visibility: hidden;
  cursor: default;
}

#d3 {
  margin-left: 10px;
  margin-right: 95px;
}


header ul.dots li.visited {
  visibility: visible;
}

aside {
  margin-left: 20px;
  margin-right: -60px;
  margin-top: 500px;
  float: left;
}

.current, .other {
  position: relative;
}

.current .back .picture::after {
  content: '';
  display: block;
  clear: both;
}

.picture {
  position: relative;
  z-index: 1;
  top: 180px;
  left: 80px;
}

.current .back .picture img{
  float: left;
  width: 360px;
  height: 360px;
  border-radius: 40px;
}

.other .another .picture img {
  float: right;
  width: 360px;
  height: 360px;
  border-radius: 40px;
}

.current .back {
  margin-left: 150px;
  margin-top: 80px;
  background-color: darkcyan;
  width: 380px;
  height: 800px;
  border-radius: 40px;
  float: left;
  position: relative;
}

.back .title {
  position: absolute;
  left: 17%;
  top: 10%;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  cursor: default;
}

.back .playall {
  position: absolute;
  left: 60%;
  top: 12%;
  font-size: 15px;
  font-weight: bolder;
  color: gold;
  cursor: pointer;
}

.back .prev {
  position: absolute;
  top: 85%;
  left: 20%;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.back .next {
  position: absolute;
  top: 85%;
  left: 65%;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.other .another {
  margin-top: 80px;
  background-color: coral;
  width: 380px;
  height: 800px;
  border-radius: 40px;
  float: right;
  position: relative;
  right: -200px;
}

.songlist .cell {
  float: left;
  width: 580px;
  height: 800px;
  margin-left: 200px;
  margin-top: 80px;
}

.singner {
  font-size: 35px;
  color: lightgray;
  font-weight: bolder;
}

.name {
  font-family: comic;
  font-size: 70px;
  font-weight: bolder;
  margin-left: 50px;
}

#lonely{
  position: relative;
  margin-top: 55px;
}

#road, #boy {
  position: relative;
  margin-top: 30px;
}
#wind {
  position: relative;
  margin-top: 20px;
}

.play {
  border-radius: 100%;
  border: 2px solid lightgray;
  width: 70px;
  height: 70px;
  display: inline-block;
  cursor: pointer;
}

.play span {
  position: absolute;
  font-weight: bolder;
  top: 33%;
  left: 5%;
}

.songsname {
  display: inline-block;
  position: absolute;
  top: 29%;
  margin-left: 30px;
  font-weight: bolder;
}

.like {
  margin-left: 50px;
  margin-right: 100px;
  position: absolute;
  top: 29%;
  left: 70%;
}

time {
  display: inline-block;
  position: absolute;
  top: 29%;
  left: 60%;
}

.like {
  color: lightgray;
  cursor: pointer;
}
.special {
  font-family: arial;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bolder;
}

audio {
  margin-top: 40px;
  width: 480px;
}

.love {
  color: red;
}

.play.active{
  border-color: aquamarine;
  color: orange;
}

.play.pause {
  border-color: burlywood;
  color: peru;
}

time {
  font-weight: bolder;
  color: lightgray;
}
