<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="static/index/index.css">
</head>

<body>
  <header>
    <div id="hello">
      H E L L O&nbsp; &nbsp; W O R L D
    </div>
    <div id="welcome">
      Welcome &nbsp; To &nbsp; cwuc.cc !
    </div>
  </header>
  <aside class="links">
    <div class="pagelink active"></div>
    <div class="pagelink"></div>
    <div class="pagelink"></div>
    <div class="pagelink"></div>
    <div class="pagelink"></div>
  </aside>
  <footer>
    <div class="show">
      <span>Web初体验 <br> &nbsp; &nbsp; 纪念那些年的第一次。 </span><a href="cwuc.cc/todo"> GO! <span class="glyphicon glyphicon-send"></span></a>
    </div>
    <div>
      <span>Web Music <br> &nbsp; &nbsp; 聆听音乐之声。 </span><a href="cwuc.cc/music"> GO! <span class="glyphicon glyphicon-send"></span></a>
    </div>
    <div>
      <span>Web Crawler <br> &nbsp; &nbsp; 剧情电影数据统计分析。 </span><a href="cwuc.cc/crawler"> GO! <span class="glyphicon glyphicon-send"></span></a>
    </div>
    <div>
      <span>Web Editor <br> &nbsp; &nbsp; MarkDown在线编辑器。 </span><a href="cwuc.cc/editor"> GO! <span class="glyphicon glyphicon-send"></span></a>
    </div>
    <div>
      <span>About Me。 </span><a href="cwuc.cc/resume"> GO! <span class="glyphicon glyphicon-send"></span></a>
    </div>
  </footer>
  <section class="page" style="background-image:url('static/index/1.jpg')"></section>
  <section id='p2' class="page" style="background-image:url('static/index/2.jpg')"></section>
  <section class="page" style="background-image:url('static/index/3.jpg')"></section>
  <section class="page" style="background-image:url('static/index/4.jpg')"></section>
  <section class="page" style="background-image:url('static/index/5.jpg')"></section>
  <script src="static/jquery/jquery-3.3.1.min.js" charset="utf-8"></script>
  <script src="static/jquery/jQuery-Easing.js" charset="utf-8"></script>
  <script src="static/index/index.js" charset="utf-8"></script>
</body>

</html>
